$header-font: Suisse International, sans-serif;
$header-weight: bold;
$subheader-font: Miller Display, serif;

body {
  font-family: Suisse International, sans-serif;
  font-weight: 300;
  font-style: normal;
}
