.image-gallery {
  width: 100vw;
  height: 350px;
  position: relative;
  overflow: hidden;
  @include respond-to('small') {
    height: 70vh;
  }
  @include respond-to('medium') {
    height: 80vh;
  }
  @include respond-to('large') {
    height: calc(100vh - 80px);
  }
  img {
    width: auto;
    transform: scale(1);
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    @include respond-to('large') {
      transform: scale(1.3);
      margin-top: 0;
    }
    @include respond-to('huge') {
      transform: scale(1.4);
    }
  }
}

.image-controls {
  display: flex;
  width: 100vw;
  height: 5vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  span {
    background: content-box $bighorn-tan;
    width: 30vw;
    height: 2vh;
    padding-top: 15px;
  }
}
