.text-block {
  width: 80vw;
  height: auto;
  margin: 5vw 5vw 5vw 5vw;
  padding: 5vw 5vw 5vw 5vw;
  background-color: $bighorn-grey;
  @include respond-to('small') {
    padding: 5vw;
  }
  @include respond-to('large') {
    background-color: rgba(0,0,0,0);
    width: 60vw;
    height: 50vh;
    margin: 10vh 0 0 0;
    padding: 0;
  }
  h2 {
    font-family: $subheader-font;
    font-size: 1.25em;
    padding-bottom: 16px;
    line-height: 1.5em;
    @include respond-to('small') {
      padding: 5vw;
      font-size: 1.7em;
    }
    @include respond-to('large') {
      font-size: 2.5em;
      padding-bottom: 4vw;
      line-height: 1.75em;
    }
  }
  h3 {
    font-size: .9em;
    line-height: 1.5em;
    @include respond-to('small') {
      padding: 1vh 5vw 5vw 5vw;
      font-size: 1.2em;
      line-height: 1.9em;
    }
  }
}

.right-block {
  @include respond-to('large') {
    float: right;
    margin-top: 0;
    height: auto;
    margin: 10vh 0 10vh 0;
  }
}

.background {
  @include respond-to('large') {
    background-color: $bighorn-grey;
  };
}

.neighborhood {
  @include respond-to('large') {
    .right-block {
      margin-top: 10vh;
    }
  }
}

.left-block2 {
  @include respond-to('large') {
    float: left;
    margin-top: 0;
    height: auto;
    margin: 5vh 0 10vh 0;
    padding-bottom: 20vh;
  }
}

.three-bedroom {
  .left-block2 {
    @include respond-to('large') {
      padding: 5vh;
      width: 50vw;
      h3 {
        padding: 5vh;
      }
    }
  }
}

.left-block {
  @include respond-to('large') {
    float: left;
    margin-top: 0;
    height: auto;
    margin-left: 2vw;
  }
}

.no-margin {
  @include respond-to('large') {
    margin-top: 0;
  }
}

.neighborhood-intro {
  p {
    background-color: $bighorn-grey;
    padding: 20px;
    line-height: 24px;
    font-size: 16px;
    margin: 20px;
    @include respond-to('small') {
      padding: 30px;
    }
    @include respond-to('medium') {
      font-size: 20px;
      line-height: 30px;
      padding: 40px;
      margin: 40px;
    }
    @include respond-to('large') {
      width: 60vw;
      margin: 0 0 40px 40vw;
      box-sizing: border-box;
      align-content: right;
    }
  }
}

.outline {
  @include respond-to('large') {
    width: 90vw;
    margin: 0 0 0 5vw;;
    position: relative;
    height: auto;
  }
}

.outline:after {
  @include respond-to('large') {
    content: '';
    position: absolute;
    left: 10;
    top: -5;
    width: 8px;
    height: 90%;
    background-color: $bighorn-brown;
  }
}
