nav {
  background-color: $bighorn-tan;
  width: 100vw;
  font-family: $header-font;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 1000;
  .logo {
    width: auto;
    height: 50px;
    padding: 15px;
  }
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .nav-links {
    display: none;
    @include respond-to('large') {
      display: flex;
      margin-right: 15px;
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: $header-weight;
      padding: 32px 15px 32px 15px;
      font-size: 14px;
    }
  }
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 15px 25px 15px;
  span {
    font-size: 14px;
    font-weight: $header-weight;
    padding-right: 10px;
  }
  img {
    width: auto;
    height: 25px;
  }
  @include respond-to('large') {
    display: none;
  }
}

.menu {
  background-color: $bighorn-tan;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  z-index: 5000;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  font-family: $subheader-font;
  color: black;
  ul {
    min-height: 40vh;
    font-size: 20px;
    text-align: right;
    margin: 5vw;
    padding: 20px;
    @include respond-to('small') {
      font-size: 30px;
      margin-top: 0;
      margin-bottom: 0;
    }
    li {
      padding: 5px;
      margin: 20px 0 20px 0;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
  .menu-logo {
      max-width: 33vw;
      margin: 0 60vw 10vw 10vw;
      align-self: flex-start;
      @include respond-to('medium') {
        transform: translate(0,-35vh);
      }
  }
}

.menu-icon {
  max-width: 50px;
  max-height: 50px;
  padding: 20px;
  margin: 5vw;
}
